.color-editor-dialog {
  width: 124px;
  position: absolute;
  top: 20px;
  left: -60px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #cdecf2;
  padding: 10px;
  box-sizing: border-box;
}
