.qp-dialog {
  position: absolute;
  left: 20px;
  top: 20px;

  padding: 15px;
  background-color: white;
  border-radius: 3px;
  border: 2px solid #999;
}

.dialog-content {
  display: flex;
  flex-direction: column;
}
