@import "../../scss/vars.scss";

.floatingedges {
  flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.floatingedges .react-flow__handle {
  opacity: 0;
}

.react-flow__edge {
  .react-flow__connection {
    .react-flow__edge-hover {
      opacity: .5;
      stroke: $select-blue;
      marker-end: url("#custom-arrow__dragging");
    }

    .react-flow__edge-target {
      stroke-width: 20;
      pointer-events: all;
      cursor: pointer;
    }
  }
}
