.variable-chip-list-container {
  position: absolute;
  left: 150px;
  bottom: 20px;

  padding: 10px;
  background-color: white;
  border-radius: 8px;
  border: 2px solid #999;
  width:500px;
  max-height: 57px;
  overflow: scroll;
}
