@use "../../../scss/vars.scss";
@use "../../../scss/mixins.scss";

$invalid-outline: .5px solid vars.$warning-purple;

.blue { @include mixins.spread-map(vars.$theme-map-blue); }
.gray { @include mixins.spread-map(vars.$theme-map-gray); }
.green { @include mixins.spread-map(vars.$theme-map-green); }
.light-gray { @include mixins.spread-map(vars.$theme-map-light-gray); }
.red { @include mixins.spread-map(vars.$theme-map-red); }
.yellow { @include mixins.spread-map(vars.$theme-map-yellow); }

.qp-dialog {
  background-color: white;
  border-radius: 8px;
  border: 2px solid vars.$workspace-teal;
  left: 50%;
  overflow: hidden;
  padding: 5px 20px 20px;
  position: absolute;
  top: 50px;
  transform: translate(-50%, 0);
  width: 475px;
}

.dialog-content {
  box-sizing: content-box;
  display: flex;
  gap: 20px;
  padding-top: 15px;
  position: relative;

  .dialog-content__col {
    overflow: hidden;

    &.dialog-content__col-1 { width: 170px; }
    &.dialog-content__col-2 { width: 285px; }

    &.is-expression-variable {
      .dialog-row.disabled { opacity: 1; }
      .dialog-input {
        border: none;
        max-width: calc(100% - 12px);
        &#evd-expression, &#evd-calculation {
          background: mixins.theme-var(vars.$theme-color-7);
        }
      }
      #evd-units, #evd-value {
        background: mixins.theme-var(vars.$theme-color-7);
      }
    }
  }
}

.dialog-row {
  margin: 0 0 7px;

  &.disabled { opacity: .35; }
}

.dialog-label {
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 4px;
}

.dialog-input {
  border: 1.5px solid vars.$color-light-gray-2;
  border-radius: 5px;
  color: vars.$default-fg-color;
  display: block;
  font-family: vars.$default-font-family;
  font-size: 14px;
  height: 14px;
  line-height: 1;
  max-width: calc(100% - 15px);
  overflow: hidden;
  padding: 3.5px 6px;
  width: 100%;

  &.invalid {
    border: 1.5px solid vars.$warning-purple;
    outline: $invalid-outline;

    &:focus {
      outline: $invalid-outline;
    }
  }

  &#evd-name {
    background: mixins.theme-var(vars.$theme-color-5);
    height: 14px;
  }
  &#evd-notes { height: 210px; }
  &#evd-expression, &#evd-calculation { height: 58px; }
  &#evd-units { height: 41px; }
  &#evd-value {
    box-sizing: content-box;
    height: 15px;
    resize: none;
    text-align: right;
    width: 70px;
  }
}

.dialog-textarea {
  resize: none;
  width: calc(100% - 12px);
}

.dialog-error-messages {
  height: 51px;
  margin-bottom: 20px;
}

.dialog-button-row {
  display: flex;
  justify-content: flex-end;
  gap: 10px;

  .dialog-button {
    background: #eee;
    border: solid 1.5px vars.$color-light-gray-2;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px 10px;

    &.cancel { background: #fff; }
    &:hover { background: vars.$workspace-teal-light-4; }
    &:active { background: vars.$workspace-teal-light-3; }
  }
}

.variable-type-icon {
  height: 24px;
  position: absolute;
  right: 0;
  top: 7px;
  width: 60px;

  svg {
    height: 24px;
    width: 60px;

    .background { fill: mixins.theme-var(vars.$theme-color-5); }
    .border { fill: mixins.theme-var(vars.$theme-color-2); }
  }
}