html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  user-select: none;
}

.react-flow__node.selected {
  border: 1px solid black;
  border-radius: 5px;
}

#version {
  position: fixed;
  right: 0;
  bottom: 0;
}